.gradient-custom {
    /* fallback for old browsers */
    background: #bb94e5;
    
    /* Chrome 10-25, Safari 5.1-6 */
    background: -webkit-linear-gradient(to right, rgb(180, 180, 180), rgba(37, 117, 252, 1));
    
    /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
    background: linear-gradient(to right, rgb(177, 177, 177), rgb(245, 187, 112))
    }